main {
    min-height: 83vh;
    padding-top: 20px;
}

    #contact-container {
        padding: 20px 30px;
    }
    
        #contact-form {
            max-width: 350px;
            margin-top: 10px;
        }

@media screen and (min-width: 600px) {
    #contact-container {
        padding: 20px 60px;
    }

    main {
        min-height: 75vh;
    }

}

@media screen and (min-width: 850px) {
    #contact-container {
        padding: 20px 100px;
    }
}