:root {
    /* --bg-color-1: #9EF01A; */
    --bg-color-2: #FC8422;
    /* --bg-color-3: #FFFF3F; */
    --bg-color-4: #fcfcfc;
    --bg-color-5: #0F0736;
    --bg-hover-nav: #fa9d50;

    --profile-font-1: "Alumni Sans Pinstripe";
}

h1 {
    font-size: 18pt;
    font-weight: lighter;
}

header {
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;

    display: flex;
    justify-content: space-between;
    font-family: var(--profile-font-1);
    background-color: var(--bg-color-2);
    box-shadow: 0 0 2px 0 black;
}

    header nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        height: 100%;
        margin-right: 10px;
        font-size: 16pt;

    }

        header nav a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

    .logo {
        height: 100%;
    }
        .logo img, .logo source {
            height: 100%;
        }

main {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-4);
}

    article {
        align-self: center;
        padding: 20px 30px;
        text-align: justify;
        max-width: 800px;
    }

    .horizontal-line {
        height: 1px;
        width: 80%;
        max-width: 350px;
        background-color: var(--bg-color-5);
        opacity: 0.5;
    }

footer {
    height: 7vh;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color-5);
}

    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        height: 75%;
        width: 50%;
    }
    
        footer div a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60%;
            }

            footer div img {
                height: 100%;
                filter: invert(100%);
                }

    .vertical-line {
        width: 1px;
        background-color: var(--bg-color-4);
    }

        footer span {
            color: var(--bg-color-4);
            font-family: var(--profile-font-1);
        }


@media screen and (min-width: 600px) {
    header {
        height: 15vh;
    }

        header nav {
            gap: 20px;
            font-size: 170%;
        }

    main {
        margin-top: 15vh;
    }

        article {
            padding: 20px 80px;
        }
    
    footer {
        height: 10vh;
    }
    
        footer span {
            font-size: 120%;
        }
}


@media screen and (min-width: 850px) {
    header nav {
        font-size: 190%;

    }

        header nav a {
            padding: 0 10px;
        }

    article {
        padding: 20px 100px;
    }
}
