.banner {
    width: 100%;
    height: 25vh;
}

    .banner img, .banner source {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    #banner-malmo img, #banner-malmo source {
        object-position: 0% 50%;
    }
    
    #banner-gbg img, #banner-gbg source {
        object-position: 0% 15%;
    }
    
    #banner-oslo img, #banner-oslo source {
        object-position: 0% 70%;
    }

.project-title {
    margin-top: 35px;
    text-align: center;
}

.project-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: 15px;
    width: 90%;
}

    .project-gallery img, .project-gallery source {
        box-shadow: 0 0 2px 0 black;
    }

footer {
    margin-top: 40px;
}

@media screen and (min-width: 600px) {
    
    .banner {
        height: 30vh;
    }

    .project-gallery {
        gap: 40px;
    }
}

@media screen and (min-width: 850px) {
    
    .banner {
        height: 35vh;
    }

    .project-gallery {
        gap: 40px 90px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-image {
        max-width: 40%;
    }
}